.para1 {
    border: 5px solid rgb(238, 164, 164);
}

.para2 {
    border: 3px dashed rgb(111, 175, 111);
}

.para3 {
    border-style: dotted;
}

.para4 {
    border-top: 2px solid yellow;
    border-bottom: 3px dashed blue;
    border-left: 4px dotted black;
    border-right: 4px dotted black;
}